#https://docs.docker.com/compose/environment-variables/variable-interpolation/

# App
APP_ENVIRONMENT=local
APP_DEBUG=1
APP_LOG_LEVEL=DEBUG
APP_API_URL=http://localhost:8000/ # API url for frontend

# DATABASE
DB_HOST=psql
DB_USER=feedback
DB_NAME=feedback
DB_PASSWORD=postgres12345
