#https://docs.docker.com/compose/environment-variables/variable-interpolation/

# App
APP_ENVIRONMENT=local
APP_DEBUG=1 # must be int: 0 or 1
APP_LOG_LEVEL=DEBUG
APP_API_URL=http://localhost:8000/ # API url for polls' admin panel
APP_CLIENT_URL=http://localhost:8001/ # API url for clients' survey part

# DATABASE
DB_HOST=localhost
DB_PORT=5433
DB_USER=feedback
DB_NAME=feedback
DB_PASSWORD=postgres12345

# S3 MINIO
STORAGE_MEDIA_BUCKET_NAME=s3-media
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin